.Dr_portal {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  overflow: auto;
  background-color: #30373e;
  height: 85vh;
}
.profile {
  display: flex;
  align-items: center;
}
.profile_info {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  color: #ffff;
}
.name {
  font-size: 20px;
  font-weight: 600;
}
.logout_btn {
  padding: 10px 0px;
}
.logout_btn:hover {
  color: rgb(92, 92, 92);
}

.navigation {
  display: flex;
  flex-direction: column;
}
.nav_head {
  background-color: #363e46;
  color: rgb(219, 219, 219);
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiSvgIcon-root {
  cursor: pointer;
}
.dropdown,
.dropup {
  opacity: 0;
}
.nav-manu {
  display: flex;
  flex-direction: column;
  background-color: #30373e;
  transition: max-height 0.8s ease-in-out;
}
.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(219, 219, 219, 0.836);
  cursor: pointer;
}
.nav-item:hover {
  background-color: #262c31;
}
.active {
  color: #43c0b3;
}
.nav-item > span {
  padding-left: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  padding: 20px;
  background-color: #dddddd;
}
.appointment,
.doctors-details,
.patients-details,
.payment-details {
  padding-bottom: 3rem;
}
.dashboard > h2,
.appointment > h2,
.doctors-details > h2,
.patients-details > h2,
.payment-details > h2 {
  color: #30373e;
  padding-top: 20px;
  font-size: 2rem;
}

.table-title {
  display: flex;
  justify-content: space-between;
}
.patient_list {
  margin-top: 20px;
  background-color: #ffff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.table-title > label {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.patient_list > table {
  margin-top: 20px;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-top: 1px solid rgb(201, 201, 201);
}

.table_row {
  height: 40px;
}
.table_row > th {
  border-bottom: 1px solid black;
}
.table_row > td {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.logout-container {
  display: flex;
  align-items: center;
}
.msg {
  width: 100px;
  background-color: #909090;
  color: white;
  font-size: 12px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 3px;
  display: block;
  margin: 0 8px;
  opacity: 0;
  transition: 0.6s opacity;
}
.logout-container:hover > span {
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .log_email,
  .password {
    width: 60%;
  }
  .Dr_portal {
    flex-direction: column;
  }
  .dropdown,
  .dropup {
    opacity: 1;
  }
  .table_row > th {
    font-size: 12px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid gray;
  }
  .profile {
    flex-direction: column;
  }
  .profile > img {
    margin-top: 20px;
  }
  .profile_info {
    text-align: center;
  }
  .logout-container {
    flex-direction: column;
  }
}
